[Desktop Entry]
Version=1.0
Name=Update Manager
Name[af]=Opdateringsbestuurder
Name[am]=የማሻሻያ አስተዳዳሪ
Name[ar]=مدير التحديث
Name[ast]=Xestor d'anovamientos
Name[az]=Yeniləmə İdarəçisi
Name[be]=Кіраўнік абнаўленняў
Name[bg]=Диспечер на актуализациите
Name[bn]=আপডেট ব্যবস্থাপক
Name[bs]=Menadžer nadogradnji
Name[ca]=Gestor d'actualitzacions
Name[ca@valencia]=Gestor d'actualitzacions
Name[cs]=Správa aktualizací
Name[csb]=Menedżera aktualizacëji
Name[cy]=Rheolwr Diweddaru
Name[da]=Opdateringshåndtering
Name[de]=Aktualisierungsverwaltung
Name[el]=Διαχειριστής Ενημερώσεων
Name[eo]=Ĝisdatiga mastrumilo
Name[es]=Administrador de actualizaciones
Name[et]=Uuendamishaldur
Name[eu]=Eguneraketa-kudeatzailea
Name[fa]=مدیر به‌روزرسانی
Name[fi]=Päivitysten hallinta
Name[fil]=Tagapamahala ng Update
Name[fo]=Dagføringa fyrisiting
Name[fr]=Gestionnaire de mises à jour
Name[fr_CA]=Gestionnaire de mises à jour
Name[ga]=Bainisteoir Nuashonraithe
Name[gd]=Manaidsear nan ùrachaidhean
Name[gl]=Xestor de actualizacións
Name[gv]=Reireyder stoo noa
Name[he]=מנהל עדכונים
Name[hi]=अपडेट मैनेजर
Name[hr]=Upravitelj nadopuna
Name[hu]=Frissítéskezelő
Name[ia]=Gestor de actualisation
Name[id]=Manajer Pembaruan
Name[is]=Uppfærslustjóri
Name[it]=Gestore Aggiornamenti
Name[ja]=アップデートマネージャ
Name[jv]=Penglola penganyaran
Name[kab]=Amsefrak n ileqman
Name[kk]=Жаңарту менеджері
Name[km]=កម្មវិធី​គ្រប់គ្រង​បច្ចុប្បន្នភាព
Name[ko]=업데이트 매니저
Name[ku]=Rêveberiya Rojanekirinê
Name[ky]=Жаңылоо менеджери
Name[lt]=Atnaujinimų tvarkytuvė
Name[lv]=Atjauninājumu pārvaldnieks
Name[mk]=Менаџер за надградба
Name[ml]=അപ്‌ഡേറ്റ് മാനേജർ
Name[mr]=अद्ययावतीकरण प्रबंधक
Name[ms]=Pengurus Kemaskini
Name[nb]=Oppdateringsbehandler
Name[nds]=Aktualisierungsverwaltung
Name[ne]=उप्डेट म्यानेजर
Name[nl]=Bijwerkbeheer
Name[nn]=Oppdateringshandsamar
Name[oc]=Gestionari de mesas a jorn
Name[pa]=ਅੱਪਡੇਟ ਮੈਨੇਜਰ
Name[pl]=Menedżer aktualizacji
Name[pt]=Gestor de Atualizações
Name[pt_BR]=Gerenciador de Atualizações
Name[ro]=Administrator de actualizări
Name[ru]=Менеджер обновлений
Name[si]=යාවත්කාල කිරීම කළමනාකරනය
Name[sk]=Správca aktualizácií
Name[sl]=Upravljalnik posodobitev
Name[so]=Agaasime Dalacsiiyaha
Name[sq]=Menaxhuesi i Përditësimeve
Name[sr]=Управник ажурирања
Name[sr@latin]=Upravnik ažuriranja
Name[sv]=Uppdateringshanterare
Name[ta]=மேம்பாட்டு  நிர்வகிப்பான்
Name[te]=నవీకరణ నిర్వాహకం
Name[tg]=Мудири навсозиҳо
Name[th]=โปรแกรมจัดการการปรับปรุง
Name[tl]=Tagapamahala ng Update
Name[tr]=Güncelleme Yöneticisi
Name[uk]=Менеджер оновлень
Name[ur]=اپڈیٹ منتظم
Name[vi]=Trình Quản lý Cập nhật
Name[zh_CN]=更新管理器
Name[zh_HK]=更新管理員
Name[zh_TW]=更新管理員
Comment=Show and install available updates
Comment[af]=Wys en installeer beskikbare opdaterings
Comment[am]=ዝግጁ የሆኑ ማሻሻያዎችን ማሳያ እና መግጠሚያ
Comment[ar]=عرض التحديثات المتاحة وتثبيتها
Comment[ast]=Amosar ya instalar los anovamientos disponibles
Comment[be]=Паказаць і ўсталяваць даступныя абнаўленні
Comment[bg]=Показване и инсталиране на наличните актуализации
Comment[bn]=যে আপডেটসমূহ পাওয়া যাচ্ছে সেগুলো দেখাও এবং ইন্সটল কর
Comment[bs]=Prikaži i instaliraj dostupne nadogradnje
Comment[ca]=Vegeu i instal·leu les actualitzacions disponibles
Comment[ca@valencia]=Vegeu i instal·leu les actualitzacions disponibles
Comment[cs]=Zobrazit a nainstalovat dostupné aktualizace
Comment[csb]=Wëskrzëni ë winstalëjë przëstãpné aktualizacëje
Comment[cy]=Dangos a gosod diweddariadau sydd ar gael
Comment[da]=Vis og installér tilgængelige opdateringer
Comment[de]=Verfügbare Aktualisierungen anzeigen und installieren
Comment[el]=Εμφάνιση και εγκατάσταση διαθέσιμων ενημερώσεων
Comment[eo]=Montri kaj instali disponeblajn ĝisdatigojn
Comment[es]=Mostrar e instalar las actualizaciones disponibles
Comment[et]=Saadaolevate uuenduste kuvamine ja paigaldamine
Comment[eu]=Erakutsi eta instalatu eguneraketa eskuragarriak
Comment[fa]=نمایش و نصب به‌روزرسانی‌های موجود
Comment[fi]=Näytä ja asenna saatavilla olevat päivitykset
Comment[fil]=Ipakita at i-install ang mga available na update
Comment[fo]=Vís og legg inn tøkar dagførlsur
Comment[fr]=Afficher et installer les mises à jour disponibles
Comment[fr_CA]=Afficher et installer les mises à jour disponibles
Comment[ga]=Taispeáin agus suiteáil nuashonruithe atá ar fáil
Comment[gd]=Seall agus stàlaich ùrachaidhean a tha ri làimh
Comment[gl]=Mostra e instala as actualizacións dispoñibles
Comment[gv]=Soilshaghey as cur stoo noa ry-geddyn 'syn co`earrooder
Comment[he]=הצגה והתקנת העדכונים הזמינים
Comment[hi]=उपलब्ध अपडेट दिखाएँ व इंस्टॉल करें
Comment[hr]=Prikaži i instaliraj dostupne nadopune
Comment[hu]=Rendelkezésre álló frissítések megjelenítése és telepítése
Comment[ia]=Monstrar e installar le actualisationes disponibile
Comment[id]=Tampilkan dan instal pembaruan yang tersedia
Comment[is]=Sýna og setja upp tiltækar uppfærslur
Comment[it]=Visualizza e installa gli aggiornamenti disponibili
Comment[ja]=利用可能なアップデートを表示してインストールします
Comment[jv]=Nampilake lan masang penganyaran sing disediakno
Comment[kab]=Sken u sbedd ileqman iwejden
Comment[kk]=Жетімді жаңартуларды көрсету және орнату
Comment[km]=បង្ហាញ និង​ដំឡើង​បច្ចុប្បន្នភាព​ដែល​មាន
Comment[ko]=이용 가능한 업데이트를 보여주고, 설치합니다
Comment[ku]=Rojanekirinên amade nîşan bide û saz bike
Comment[ky]=Жеткиликтүү жаңылоолорду көрсөтүү жана орнотуу
Comment[lt]=Rodyti ir įdiegti prieinamus atnaujinimus
Comment[lv]=Rādīt un instalēt pieejamos atjauninājumus
Comment[mk]=Прикажи и инсталирај ги достапните надградби
Comment[ml]=ലഭ്യമായ പുതുക്കലുകൾ പ്രദർശിപ്പിക്കുകയും ഇൻസ്റ്റോൾ ചെയ്യുകയും ചെയ്യുക
Comment[mr]=अद्ययावतन दाखवा आणि स्थापित करा
Comment[ms]=Tunjuk dan pasang kemaskini yang ada
Comment[nb]=Vis og installer tilgjengelige oppdateringer
Comment[nds]=Verfügbare Aktualisierungen anzeigen und installieren
Comment[ne]=रहेका उप्डेट हरु देखौ अनी इन्स्तल्ल गर
Comment[nl]=Beschikbare bijgewerkte pakketten tonen en installeren
Comment[nn]=Vis og installer tilgjengelege oppdateringar
Comment[oc]=Afichar e installar las mesas a jorn disponiblas
Comment[pa]=ਉਪਲੱਬਧ ਅੱਪਡੇਟ ਵੇਖੋ ਤੇ ਇੰਸਟਾਲ ਕਰੋ
Comment[pl]=Wyświetl i zainstaluj dostępne aktualizacje
Comment[pt]=Mostrar e instalar as atualizações disponíveis
Comment[pt_BR]=Exibir e instalar as atualizações disponíveis
Comment[ro]=Arată și instalează actualizările disponibile
Comment[ru]=Показать и установить доступные обновления
Comment[si]=භවිතය සඳහ අති කට්ටල පෙන්වීම සහ ස්ථපනය කිරීම
Comment[sk]=Zobraziť a inštalovať dostupné aktualizácie
Comment[sl]=Pokaži in namesti razpoložljive posodobitve
Comment[so]=Muuji shubna dhamaan dalacsiimadda la heli karo
Comment[sq]=Shfaq dhe instalo përditësimet e disponueshme
Comment[sr]=Прикажи и угради доступна ажурирања
Comment[sr@latin]=Prikaži i instaliraj dostupna ažuriranja
Comment[sv]=Visa och installera tillgängliga uppdateringar
Comment[ta]=கிடைக்கும் மேம்பாடுகளை பட்டியலிட்டு நிறுவு
Comment[te]=లభ్యతలో ఉన్న నవీకరణలను చూపించు మరియు స్థాపించు
Comment[tg]=Намоиш додан ва насб кардани навсозиҳои дастрас
Comment[th]=แสดงและติดตั้งรายการการปรับรุ่นทั้งหมดที่มี
Comment[tl]=Ipakita at i-install ang mga update na mayroon
Comment[tr]=Mevcut güncellemeleri göster ve kur
Comment[uk]=Показати та встановити доступні оновлення
Comment[ur]=دکھائیں اور انسٹال کریں دستاب کردہ اپڈیٹس
Comment[vi]=Hiện và cài đặt các bản cập nhật sẵn có
Comment[zh_CN]=显示并安装可用更新
Comment[zh_HK]=顯示並安裝可用的更新
Comment[zh_TW]=顯示並安裝可用的更新
Exec=mintupdate
Icon=mintupdate
Terminal=false
Type=Application
Encoding=UTF-8
Categories=Application;System;Settings;XFCE;X-XFCE-SettingsDialog;X-XFCE-SystemSettings;
StartupNotify=false
NotShowIn=KDE;
StartupWMClass=MintUpdate.py
Actions=show;hide;refresh;show-kernels;show-history;show-preferences;show-log;

[Desktop Action show]
Name=Show
Name[af]=Wys
Name[am]=ማሳያ
Name[ar]=عرض
Name[ast]=Amosar
Name[az]=Göstər
Name[be]=Паказаць
Name[bg]=Показване
Name[bn]=প্রদর্শন
Name[bs]=Prikaži
Name[ca]=Mostra
Name[ca@valencia]=Mostra
Name[cs]=Zobrazit
Name[csb]=Wëskrzëni
Name[cy]=Dangos
Name[da]=Vis
Name[de]=Anzeigen
Name[el]=Εμφάνιση
Name[eo]=Montri
Name[es]=Mostrar
Name[et]=Näita
Name[eu]=Erakutsi
Name[fa]=نمایش
Name[fi]=Näytä
Name[fil]=Magparangya
Name[fo]=Vís
Name[fr]=Afficher
Name[fr_CA]=Afficher
Name[ga]=Taispeáin
Name[gd]=Seall
Name[gl]=Amosar
Name[gv]=Soilshaghey
Name[he]=הצג
Name[hi]=दिखाएँ
Name[hr]=Prikaži
Name[hu]=Megjelenítés
Name[ia]=Monstrar
Name[id]=Tampil
Name[ie]=Monstrar
Name[is]=Birta
Name[it]=Visualizza
Name[ja]=表示
Name[jv]=Tampilno
Name[kab]=sken
Name[kk]=Көрсету
Name[km]=បង្ហាញ
Name[ko]=보기
Name[ku]=Nîşandan
Name[ky]=Көрсөтүү
Name[lt]=Rodyti
Name[lv]=Rādīt
Name[mk]=Прикажи
Name[ml]=പ്രദര്‍ശിപ്പിക്കുക
Name[mr]=दर्शवा
Name[ms]=Papar
Name[nb]=Vis
Name[nds]=Anzeigen
Name[nl]=Tonen
Name[nn]=Vis
Name[oc]=Afichar
Name[pa]=ਵੇਖਾਉ
Name[pl]=Pokaż
Name[pt]=Mostrar
Name[pt_BR]=Exibir
Name[ro]=Arată
Name[ru]=Показать
Name[si]=පෙන්වන්න
Name[sk]=Zobraziť
Name[sl]=Pokaži
Name[so]=Tusi
Name[sq]=Shfaq
Name[sr]=Прикажи
Name[sr@latin]=Prikaži
Name[sv]=Visa
Name[ta]=காட்டு
Name[te]=చూపించు
Name[tg]=Намоиш додан
Name[th]=แสดง
Name[tl]=Magparangya
Name[tr]=Göster
Name[uk]=Показати
Name[ur]=دکھائیں
Name[vi]=Hiện
Name[zh_CN]=显示
Name[zh_HK]=顯示
Name[zh_TW]=顯示
Exec=mintupdate show

[Desktop Action hide]
Name=Hide
Name[de]=Ausblenden
Name[fr]=Cacher
Name[fr_CA]=Cacher
Name[hr]=Sakrij
Name[ia]=Celar
Name[nl]=Verbergen
Name[ru]=Скрыть
Name[uk]=Сховати
Exec=mintupdate hide

[Desktop Action refresh]
Name=Refresh
Name[af]=Verfris
Name[am]=ማነቃቂያ
Name[ar]=تحديث
Name[ast]=Refrescar
Name[az]=Yenilə
Name[be]=Абнавіць
Name[bg]=Опресняване
Name[bn]=রিফ্রেশ
Name[bs]=Osvježi
Name[ca]=Refresca
Name[ca@valencia]=Refresca
Name[cs]=Obnovit
Name[csb]=Zladëjë znowa
Name[cy]=Adnewyddu
Name[da]=Genindlæs
Name[de]=Auffrischen
Name[el]=Ανανέωση
Name[eo]=Aktualigi
Name[es]=Refrescar
Name[et]=Otsi uuendusi
Name[eu]=Freskatu
Name[fa]=بازسازی
Name[fi]=Päivitä
Name[fil]=I-refresh
Name[fo]=Endurnýggja
Name[fr]=Actualiser
Name[fr_CA]=Actualiser
Name[frp]=Actualisar
Name[ga]=Athnuaigh
Name[gd]=Ath-nuadhaich
Name[gl]=Actualizar
Name[gv]=Laadey reesht
Name[he]=רענן
Name[hi]=रिफ्रेश करें
Name[hr]=Osvježavanje
Name[hu]=Frissítés
Name[ia]=Refrescar
Name[id]=Penyegaran
Name[ie]=Refriscar
Name[is]=Endurlesa
Name[it]=Cerca aggiornamenti
Name[ja]=更新
Name[jv]=Penyegeran
Name[kab]=Smiren
Name[kk]=Жаңарту
Name[km]=ធ្វើ​ឲ្យស្រស់
Name[ko]=새로고침
Name[ku]=Nûbike
Name[ky]=Жаңылоо
Name[lt]=Įkelti iš naujo
Name[lv]=Atsvaidzināt
Name[mk]=Освежи
Name[ml]=കാലാനുസൃതമാക്കുക
Name[mr]=रीफ्रेश करा
Name[ms]=Segar semula
Name[nb]=Oppfrisk
Name[nds]=Aktualisieren
Name[ne]=पुनःताजा गर्नुहोस् !
Name[nl]=Verversen
Name[nn]=Frisk opp
Name[oc]=Metre a jorn
Name[pa]=ਤਾਜ਼ਾ ਕਰੋ
Name[pl]=Odśwież
Name[pt]=Atualizar
Name[pt_BR]=Atualizar
Name[ro]=Reîmprospătează
Name[ru]=Проверить обновления
Name[si]=ප්‍රතිපූර්ණය කරන්න
Name[sk]=Obnoviť
Name[sl]=Osveži
Name[so]=Dib u cusbeyneysii
Name[sq]=Rifresko
Name[sr]=Освежи
Name[sr@latin]=Osveži
Name[sv]=Hämta om
Name[ta]=புதுக்கு
Name[te]=తాజాపరుచు
Name[tg]=Навсозӣ кардан
Name[th]=เรียกใหม่อีกครั้ง
Name[tl]=Muling i-refresh
Name[tr]=Yenile
Name[uk]=Перевірити оновлення
Name[ur]=تازہ کریں
Name[vi]=Làm mới
Name[zh_CN]=刷新
Name[zh_HK]=重新整理
Name[zh_TW]=重新整理
Exec=mintupdate refresh

[Desktop Action show-kernels]
Name=Kernel Manager
Name[de]=Systemkernverwaltung
Name[fr]=Gestionnaire de noyaux
Name[fr_CA]=Gestionnaire de noyaux
Name[hr]=Upravitelj kernela
Name[nl]=Systeemkernbeheer
Exec=mintupdate show-kernels

[Desktop Action show-history]
Name=History of Updates
Name[am]=የ ማሻሻያ ታሪክ
Name[bg]=История на актуализациите
Name[ca]=Historial d'actualitzacions
Name[ca@valencia]=Historial d'actualitzacions
Name[cs]=Historie aktualizací
Name[cy]=Hanes Diweddaru
Name[da]=Opdateringshistorik
Name[de]=Aktualisierungsverlauf
Name[el]=Ιστορικό Ενημερώσεων
Name[eo]=Historio de ĝisdatigoj
Name[es]=Historial de actualizaciones
Name[et]=Uueduste ajalugu
Name[eu]=Eguneraketen historia
Name[fi]=Päivityshistoria
Name[fr]=Historique des mises à jour
Name[fr_CA]=Historique des mises à jour
Name[hr]=Povijest nadopuna
Name[hu]=Frissítési előzmények
Name[ia]=Chronologia de actualisationes
Name[is]=Ferill uppfærslna
Name[it]=Cronologia Aggiornamenti
Name[ja]=アップデートの履歴
Name[kab]=Amazray n ileqman
Name[ko]=업데이트 기록
Name[lt]=Atnaujinimų istorija
Name[nl]=Bijwerkgeschiedenis
Name[pl]=Historia aktualizacji
Name[pt]=Histórico de Atualizações
Name[pt_BR]=História das Atualizações
Name[ro]=Istoricul actualizărilor
Name[ru]=История обновлений
Name[sk]=História aktualizácií
Name[sr]=Историја ажурирања
Name[sr@latin]=Историја ажурирања
Name[sv]=Uppdateringshistorik
Name[tr]=Güncelleme Geçmişi
Name[uk]=Дієпис оновлень
Name[zh_CN]=更新历史
Exec=mintupdate show-history

[Desktop Action show-preferences]
Name=Preferences
Name[af]=Voorkeure
Name[am]=ምርጫዎች
Name[ar]=التفضيلات
Name[ast]=Preferencies
Name[az]=Nizamlamalar
Name[be]=Настáўленні
Name[bg]=Предпочитания
Name[bn]=পছন্দসমূহ
Name[bs]=Postavke
Name[ca]=Preferències
Name[ca@valencia]=Preferències
Name[cs]=Předvolby
Name[csb]=Preferencëje
Name[cy]=Dewisiadau
Name[da]=Indstillinger
Name[de]=Einstellungen
Name[el]=Προτιμήσεις
Name[eo]=Agordoj
Name[es]=Preferencias
Name[et]=Eelistused
Name[eu]=Hobespenak…
Name[fa]=ترجیحات
Name[fi]=Asetukset
Name[fil]=Mga Pagtatangi
Name[fo]=Stillingar
Name[fr]=Préférences
Name[fr_CA]=Préférences
Name[frp]=Prèfèrènces
Name[ga]=Sainroghanna
Name[gd]=Roghainnean
Name[gl]=Preferencias
Name[gv]=Reihghyn ayd's
Name[he]=העדפות
Name[hi]=वरीयताएँ
Name[hr]=Osobitosti
Name[hu]=Beállítások
Name[ia]=Preferentias
Name[id]=Preferensi
Name[ie]=Preferenties
Name[is]=Stillingar
Name[it]=Impostazioni
Name[ja]=設定
Name[jv]=Acuan'e
Name[kab]=Ismenyifen
Name[kk]=Баптаулар
Name[km]=ចំណូលចិត្ត
Name[ko]=설정
Name[ku]=Vebijêrk
Name[ky]=Ырастоолор
Name[lt]=Nuostatos
Name[lv]=Iestatījumi
Name[mk]=Параметри
Name[ml]=മുന്‍ഗണനകള്‍
Name[mr]=प्राधान्यक्रम
Name[ms]=Tetapan
Name[nb]=Innstillinger
Name[nds]=Einstellungen
Name[ne]=प्राथमिकताहरू
Name[nl]=Voorkeuren
Name[nn]=Innstillingar
Name[oc]=Preferéncias
Name[pa]=ਮੇਰੀ-ਪਸੰਦ
Name[pl]=Właściwości
Name[pt]=Preferências
Name[pt_BR]=Preferências
Name[ro]=Preferințe
Name[ru]=Параметры
Name[si]=කැමැත්ත
Name[sk]=Nastavenia
Name[sl]=Možnosti
Name[so]=Doorashooyinka
Name[sq]=Preferencat
Name[sr]=Поставке
Name[sr@latin]=Podešavanja
Name[sv]=Inställningar
Name[ta]=விருப்பத்தேர்வுகள்
Name[te]=ప్రాధాన్యతలు
Name[tg]=Хусусиятҳо
Name[th]=ขั้นสูง
Name[tl]=Mga Kagustuhan
Name[tr]=Tercihler
Name[uk]=Параметри
Name[ur]=ترجیحات
Name[vi]=Tùy chỉnh
Name[zh_CN]=首选项
Name[zh_HK]=喜好設定
Name[zh_TW]=偏好設定
Exec=mintupdate show-preferences

[Desktop Action show-log]
Name=Log View
Name[de]=Protokollansicht
Name[hr]=Zapis promjena
Name[ia]=Vista de registro
Name[nl]=Logboekweergave
Name[ru]=Просмотр Журнала
Exec=mintupdate show-log
