[Unit]
Description=Update Manager weekly autoremove
After=mintupdate-automation-upgrade.service

[Service]
Type=oneshot
ExecStart=/usr/share/linuxmint/mintupdate/automation/autoremove.sh
